.header{
    font-size: 23px;
    background-color: color #1f2937;
    display: flex;
    flex: 1;
    margin-left: 30px;
    margin-right: 40px;
    color: white; 
}
.nav-bar{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
ul li {
    font-size: 18px;
    color: #E5E7EB;
    padding: 5px 10px; /* padding inside each li element */
}
ul {
    background-color:darkblue;
    margin: 0; /* remove default margins */
    padding: 12px 0; 
    display: flex;
    list-style-type: none;
    gap: 32px;
    flex-wrap: wrap;
}
.header-links{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 300px;
    text-align: center;
    padding-top: 12px;
}
.home {
    background-color: black;
    text-align: center;
    padding: 10px 20px;
    margin-left:200px;
    
}

